<script>
    import Notes from '../lib/Notes.svelte';
</script>

<section>
    <section>
        <h3 class="text-yellow-500">Caveats</h3>
        <div class="grid place-items-center ">
            <p class="fragment fade-up">To remain practical, the distributed systems we discussed here all assume:</p>
        </div>
        <ul>
            <li class="fragment fade-up">- A lack of control </li>
            <li class="fragment fade-up">- Some trust of the network: working or not. what about fake packets ?</li>
            <li class="fragment fade-up">- Some trust of the nodes: failure or correct. what about mistakes ?</li>
        </ul>

        <Notes>This is an example of slide notes</Notes>
    </section>
    <section>

        <h3 class="text-yellow-500">Caveats</h3>
        <div class="grid place-items-center ">
            <p class="fragment fade-up">Research is ongoing for Distributed System that do not require trust on hte underlying substrate:</p>
        </div>
            <ul>
                <li class="fragment fade-up">- distributed ledgers (aka.blockchains)</li>
                <li class="fragment fade-up">- smart contracts (aka. crypto assets)</li>
                <li class="fragment fade-up">- etc.</li>
            </ul>
        <ul><div class="grid place-items-center ">
            <p class="fragment fade-up">This will be the topic of another presentation.</p>
        </div>

    </section>
</section>