<script>
    import Notes from '../lib/Notes.svelte';
</script>

<section>
    <section>
        <h3 class="text-yellow-500">CAP Theorem</h3>
        <ul>
            <li class="fragment fade-up"></li>
        </ul>
        <div class="grid place-items-center ">
            <p class="fragment fade-up"></p>
        </div>
        <Notes>This is an example of slide notes</Notes>
    </section>
    <section>
        <h3 class="text-yellow-500">Consensus</h3>
        <ul>
            <li class="fragment fade-up"></li>
        </ul>
        <div class="grid place-items-center ">
            <p class="fragment fade-up"></p>
        </div>
        <Notes>This is an example of slide notes</Notes>
    </section>

    <section>
        <h3 class="text-yellow-500">Paxos</h3>
        <ul>
            <li class="fragment fade-up"></li>
        </ul>
        <div class="grid place-items-center ">
            <p class="fragment fade-up"></p>
        </div>
        <Notes>This is an example of slide notes</Notes>
    </section>


    <section>
        <h3 class="text-yellow-500">Raft</h3>
        <ul>
            <li class="fragment fade-up"></li>
        </ul>
        <div class="grid place-items-center ">
            <p class="fragment fade-up"></p>
        </div>
        <Notes>This is an example of slide notes</Notes>
    </section>


    <section>
        <h3 class="text-yellow-500">CALM</h3>
        <ul>
            <li class="fragment fade-up"></li>
        </ul>
        <div class="grid place-items-center ">
            <p class="fragment fade-up"></p>
        </div>
        <Notes>This is an example of slide notes</Notes>
    </section>
</section>