<script>
    import Notes from '../lib/Notes.svelte';
</script>

<section>
    <section>
        <h3 class="text-yellow-500">Distribution Problems</h3>
        <div class="grid place-items-center ">
            <p class="fragment fade-up">At this stage we have:</p>
        </div>
        <ul>
            <li class="fragment fade-up">Binary network model (transmitting or not) </li>
            <li class="fragment fade-up">Binary node model (computing or not)</li>
            <li class="fragment fade-up">Automated monitoring and recovery</li>
            <li class="fragment fade-up">Stateless compute</li>

        </ul>
        <div class="grid place-items-center ">
            <p class="fragment fade-up">But one problem remain for the system to function as expected: <span class="fragment highlight-red">Ordering</span></p>
        </div>
        <Notes></Notes>
    </section>
    <!-- TODO: code section -->
    <section>
        <h3 class="text-yellow-500">Ordering</h3>
        <div class="grid place-items-center ">
            <p class="fragment fade-up">With topology changing, nodes and communication being somewhat transient, we cannot assume any global order.</p>
        </div>
        <ul>
            <li class="fragment fade-up">There is no <span class="fragment strike">global state</span></li>
            <li class="fragment fade-up">There is no <span class="fragment strike">global scheduler</span></li>
            <li class="fragment fade-up">Having scheduler will usually ruin the point of distribution.</li>
            <li class="fragment fade-up">=> Solutions are specific to different kinds of systems.</li>
        </ul>
        <Notes></Notes>
    </section>
</section>