<script>
    import Notes from '../lib/Notes.svelte';
</script>

<section>
    <section>
        <h3 class="text-yellow-500">Fallacies of Distributed Computing</h3>
        <p>The fallacies of distributed computing are a set of assertions describing false assumptions that programmers new to distributed applications invariably make. </p>
        <Notes>This is an example of slide notes</Notes>
    </section>

    <section>
        <h3 class="text-yellow-500">The network is reliable</h3>
        <ul>
            <li>The network will fail in unexpected ways.</li>
            <li>Data may never arrive, a communicating program needs to handle it.</li>
            <li>Impact: long outages, maybe unrecoverable. </li>
        </ul>
        <Notes>This is an example of slide notes</Notes>
    </section>

    <section>
        <h3 class="text-yellow-500">Latency is zero</h3>
        <ul>
            <li>Sending information to another computer always takes time</li>
            <li>Data may take longer than expected to arrive.</li>
            <li>Impact: deficiencies that can be very complex to resolve.</li>
            <li></li>
        </ul>
        <Notes>This is an example of slide notes</Notes>
    </section>

    <section>
        <h3 class="text-yellow-500">Bandwidth is infinite</h3>
        <ul>
            <li>The amount of information we can send at any one time is always bounded.</li>
            <li>Data may never arrive because of congestion somewhere in the network.</li>
            <li>Impact: deficiencies that can be very complex to resolve.</li>
        </ul>
        <Notes>This is an example of slide notes</Notes>
    </section>


    <section>
        <h3 class="text-yellow-500">The network is secure</h3>
        <ul>
            <li>The information we send may be retrieved by unexpected recipient.</li>
            <li>Developer needs to be proactive on security.</li>
            <li>Impact: unsafe, potentially unusable system.</li>
        </ul>
        <Notes>This is an example of slide notes</Notes>
    </section>

    <section>
        <h3 class="text-yellow-500">Topology doesn't change</h3>
        <ul>
            <li>The information we sent can transit through unknown places before reaching its destination</li>
            <li>The developer cannot rely on a specific topology of the network</li>
            <li>Impact: long outages, maybe unrecoverable.</li>
        </ul>
        <Notes>This is an example of slide notes</Notes>
    </section>


    <section>
        <h3 class="text-yellow-500">There is one administrator</h3>
        <ul>
            <li>Any problem with the network cannot be resolved by calling a friend.</li>
            <li>A network problem transpose to a relationship problem in the real world.</li>
            <li> Impact: long outage. maybe unrecoverable.</li>
        </ul>
        <Notes>This is an example of slide notes</Notes>
    </section>

    <section>
        <h3 class="text-yellow-500">Transport cost is zero</h3>
        <ul>
            <li>The network require maintenance, and it has a cost</li>
            <li>Any system relying on a network assumes its benefit will be worth the cost.</li>
            <li>Impact: systems becoming obsolete faster than expected.</li>
        </ul>
        <Notes>This is an example of slide notes</Notes>
    </section>
    <section>
        <h3 class="text-yellow-500">The network is homogeneous</h3>
        <ul>
            <li>Network will keep evolving, what works in one time/place may not in another.</li>
            <li>Impact: long outages, maybe unrecoverable. </li>
            <li>Impact: deficiencies that can be very complex to resolve.</li>
        </ul>
        <Notes>This is an example of slide notes</Notes>
    </section>
</section>
