<script>
    import { onMount } from 'svelte';
    import Slide from '../lib/Slide.svelte';

    import Gravatar from 'svelte-gravatar/component/Gravatar.svelte';

    let title;
    let subtitle;
    onMount(() => {
        let t_timeout;
        let st_timeout;
        title = new Promise(resolve => {
            t_timeout = setTimeout(() => resolve('Distributed Systems'), 3000);
        });
        subtitle = new Promise(resolve => {
            st_timeout = setTimeout(() => resolve('What is it ? What are they ?'), 6000);
        });
        () => clearTimeout(t_timeout);
        () => clearTimeout(st_timeout);
    });
</script>

<Slide>

    <h2>
        {#await title}
            Hi! Let's talk about
        {:then result}
            {result}
        {/await}
    </h2>
    <h3>
        {#await subtitle}
            ...
        {:then result}
            {result}
        {/await}
    </h3>


    <div class="flex justify-center fragment fade-up">
        <div class="flex flex-col md:flex-row md:max-w-xl rounded-lg bg-grey shadow-lg">
            <Gravatar md5="4760982bce87813e29fbac9630499ca9" class="rounded-full w-32 md:h-auto object-cover" alt="" />
            <div class="p-6 flex flex-col justify-start">
                <h5 class="text-gray-900 text-xl font-medium mb-2">But who is this guy ?</h5>
            <ul class="text-gray-700 text-base mb-4">
                <li>
                    AlexV - @asmodehn </li>
                <li>Distributed Software Developer</li>
                <li>Simulations, MMO Games, Mobile Apps, AMRobots</li>
            </ul>
            </div>
            </div>
    </div>


</Slide>