<script>
    import Notes from '../lib/Notes.svelte';
</script>
<section>
<section>
    <h3 class="text-yellow-500">We are used to <i>Localized Systems</i></h3>
    <ul>
        <li class="fragment fade-up">An object we can manipulate, like a hammer.</li>
        <li class="fragment fade-up">with a well-known specific name.</li>
        <li class="fragment fade-up">even a complex tool like a <i>computer</i>.</li>
    </ul>
    <div class="grid place-items-center ">
        <p class="fragment fade-up">But these are <i>localized</i> meaning they are all in one place at one time, and we could in theory know everything about that object.</p>
    </div>
    <Notes>This is an example of slide notes</Notes>
</section>


<section>
    <h3> Ancient computer: the Abacus </h3>
    <ul>
        <li> localized system that we can understand and interact with.</li>
        <li> allows us to perform arithmetic computations</li>
        <li> relies on simple mecanical laws to operate</li>
    </ul>

</section>

<section>
    <h3> Industrial computer: the Calculator </h3>
    <ul>
        <li> localized system that we can understand and interact with.</li>
        <li> allows us to perform arithmetic computations</li>
        <li> relies on complex electronic laws to operate</li>
    </ul>
</section>

<section>
    <h3> Modern computer: the Personal Computer </h3>
    <ul>
        <li> localized system that we can understand and interact with.</li>
        <li> allows us to perform arithmetic computations with electronic laws</li>
        <li> has communication capabilities when connected to a network</li>
        <li> everything that potentially rely on communication could be part of a distributed system</li>
    </ul>
</section>

    <section>
        <h3> Modern computer: the Mobile Phone </h3>
        <ul>
            <li> A computer in your pocket. Can be used as a localized tool.</li>
            <li> It is made to be connected to a network by default.</li>
            <li> Its behaviour can depend on various other systems in different part of the world.</li>
        </ul>
    </section>

</section>