<script>
    import Notes from '../lib/Notes.svelte';
</script>

<section>
    <section>
        <h3 class="text-yellow-500">Localized Problems</h3>
        <div class="grid place-items-center ">
            <p class="fragment fade-up">Since we cannot rely on every part of the system to operate perfectly, we need to reduce the impact of failure:</p>
        </div>
        <ul>
            <li class="fragment fade-up"> <span class="fragment highlight-blue">Monitoring</span>: Various metrics related to System Health.</li>
            <li class="fragment fade-up"> <span class="fragment highlight-blue">Statelessness</span>: avoid holding state that cannot be "forgotten" </li>
        </ul>
        <Notes>
            - Ordering ? TTYL
            - Privacy ? TTYL
        </Notes>
    </section>

    <section>
        <h3 class="text-yellow-500">Monitoring</h3>
        <div class="grid place-items-center ">
            <p class="fragment fade-up">Since we cannot rely on every part of the system to operate perfectly, we need to closely monitor it:</p>
        </div>
        <ul>
            <li class="fragment fade-up">MTTR (Mean Time To Repair) </li>
            <li class="fragment fade-up">MTBF (Mean Time Between Failures)</li>
            <li class="fragment fade-up">MTTF (Mean Time To Failure)</li>
        </ul>
        <Notes></Notes>
    </section>

    <section>
        <h3 class="text-yellow-500">Statelessness</h3>
        <ul>
            <li class="fragment fade-up">Since we cannot rely on every part of the system to operate perfectly, we need to reduce the impact of failure</li>
            <li class="fragment fade-up"> Statelessness: avoid having state that cannot be "forgotten" </li>
            <li class="fragment fade-up"> Serverless: there is no place for your data when this request is done.</li>
        </ul>
        <Notes></Notes>
    </section>
</section>