<script>
    import Notes from '../lib/Notes.svelte';
</script>

<section>
    <section>
        <h3 class="text-yellow-500">Network</h3>
        <h4 class="text-yellow-500">Distributed Hardware</h4>
        <ul>
            <li class="fragment fade-up">With the rise of internet, our systems rapidly became interconnected.</li>
            <li class="fragment fade-up">Various technologies are used in our networks, but they all have the aim of bringing information from one place to another.</li>
            <li class="fragment fade-up">These interconnections and how they work is hidden and often magical for the non-initiated.</li>
        </ul>
        <Notes></Notes>
    </section>

    <section>
        <h3>Bus Topology</h3>
        <ul>
            <li> </li>

        </ul>

    </section>

    <section>
        <h3>Star Topology</h3>
        <ul>
            <li> </li>

        </ul>

    </section>
    <section>
        <h3>Mesh Topology</h3>
        <ul>
            <li> </li>

        </ul>

    </section>




</section>