<script>
    import Notes from '../lib/Notes.svelte';
</script>

<section>
    <section>
        <h3 class="text-yellow-500">Protocols</h3>
        <ul>
            <li class="fragment fade-up">With the rise of internet, and the web we developed solution to these problems.</li>
            <li class="fragment fade-up">The most popular ones are TCP/IP and HTTPS</li>
            <li class="fragment fade-up">However they cannot ever be perfect, and challenge our mental models.</li>
            <li class="fragment fade-up">From these recent constraints, new concepts emerged.</li>
        </ul>
        <Notes>This is an example of slide notes</Notes>
    </section>

    <section>
        <h3>Internet Protocol version 6</h3>
        <ul>
            <li>end-to-end datagram transmission across multiple IP networks</li>
            <li>allows different types of transmission: unicast, anycast and multicast.</li>
        </ul>
    </section>

    <section>
        <h3>Transmission Control Protocol</h3>
        <ul>
            <li>Connection oriented client-server</li>
            <li>complements IP -> TCP/IP</li>
            <li>reliable</li>
            <li>ordered</li>
            <li>error-checked</li>
            <li>congestion avoidance</li>
        </ul>
    </section>


    <section>
        <h3>Hypertext Transfer Protocol</h3>
        <ul>
            <li>client–server model</li>
            <li>request-response protocol</li>
            <li>relies on TCP</li>
        </ul>
    </section>

    <section>
        <h3> Transport Layer Security</h3>
    </section>
</section>
