<script>
    import Notes from '../lib/Notes.svelte';
</script>

<section>
    <h3 class="text-yellow-500">Famous Quotes</h3>
    <ul><li class="fragment fade-up">Leslie B. Lamport</li>
        <li class="fragment fade-up">Computer scientist. Mathematician. 2013 Turing Award winner.</li>
        <li class="fragment fade-up">Known for LaTeX, Paxos, TLA+, and more...</li>
        </ul>
    <div class="grid place-items-center ">
        <p class="fragment fade-up">A distributed system is one in which the <span class="fragment highlight-red"> failure </span> of a computer <span class="fragment highlight-red">you didn't even know</span> existed can render <span class="fragment highlight-red">your own</span> computer unusable.</p>
    </div>
    <Notes>This is an example of slide notes</Notes>
</section>