<script>
    import Title          from './slides/Title.svelte';
    import Love           from './slides/Love.svelte';
    import GettingStarted from './slides/GettingStarted.svelte';
    import AutoAnimate from './slides/examples/AutoAnimate.svelte';
    import Backgrounds from './slides/examples/Backgrounds.svelte';
    import Barebones from './slides/examples/Barebones.svelte';
    import LayoutHelpers from './slides/examples/LayoutHelpers.svelte';
    import Markdown from './slides/examples/Markdown.svelte';
    import Math from './slides/examples/Math.svelte';
    import Media from './slides/examples/Media.svelte';
    import Transitions from './slides/examples/Transitions.svelte';
    import Intro from './slides/Intro.svelte';
    import Quotes from "./slides/Quotes.svelte";
    import Localized from "./slides/Localized.svelte";
    import Network from "./slides/Network.svelte";
    import Fallacies from "./slides/Fallacies.svelte";
    import Protocols from "./slides/Protocols.svelte";
    import Lproblems from "./slides/Lproblems.svelte";
    import Dproblems from "./slides/Dproblems.svelte";
    import Consensus from "./slides/Consensus.svelte";
    import Caveats from "./slides/Caveats.svelte";

    const partner = ['Svelte', 'Reveal.js'];
</script>

<Intro/>
<Quotes/>
<Localized/>
<Network/>
<Fallacies/>

<Protocols/>
<Lproblems/>
<Dproblems/>

<!--TODO-->
<Consensus/>
<!--<Consistency>-->
<!--<CRDTs/>-->

<Caveats/>
<!--<Mathematics/>-->
<!--<Categories/>-->
<!--<Languages/>-->

<!-- Examples -->
<!--<Love {partner}/>-->
<!--<GettingStarted/>-->
<!--<AutoAnimate/>-->
<!--<Backgrounds/>-->
<!--<Barebones/>-->
<!--<LayoutHelpers/>-->
<!--<Markdown/>-->
<!--<Math/>-->
<!--<Media/>-->
<!--<Transitions/>-->

